* {
    margin: 0;
    padding: 0;
}

.block1 {
    height: 65px;
}

.block1 p {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    text-align: center;
    color: #252525;
}
.block2{
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.select[name="submit"] option {
  background-color: #6C63FF;
}

button{
   background-color: #6C63FF; 
}
